<%= div_for(comment) do %>
  <p><%= comment.body %></p>
  <p>
    <small>Submitted <strong><%= time_ago_in_words(comment.created_at) %> ago</strong> by <%= comment.user.email %></small>
  </p>

  <div>
    <% if comment.user == current_user %>
      <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are yousure?' } %>
    <% end %>
  </div>
<% end %>
