<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>

<br>

<%= link_to like_link_path(@link), method: :put do %>
  upvote
  <%= @link.get_upvotes.size %>
<% end %>

<%= link_to dislike_link_path(@link), method: :put do %>
  downvote
  <%= @link.get_downvotes.size %>
<% end %>
