<p id="notice"><%= notice %></p>

<div class="content-link">
  <h2 class="link-title"><%= link_to @link.title, @link.url  %></h2>

  <span class="content-url">
    (<%= truncated_url_title(@link) %>)
  </span>

  <p class='submit-info'>
    <small>Submitted <strong><%= time_ago_in_words(@link.created_at) %> ago</strong> by <%= link_to @link.user.username, user_path(@link.user) %></small>
  </p>

  <div class="link-actions">
    <%= link_to 'Back', links_path %>
    <% if @link.user == current_user %>
      |
    	<%= link_to 'Edit', edit_link_path, class: "btn btn-default" %>
      |
    	<%= link_to 'Delete', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
    <% end %>
  </div>

  <div class="unvoted">
    <%= link_to like_link_path(@link), method: :put, class: 'unvoted-counter' do %>
      <%= fa_icon "arrow-up" %>
      <%= @link.get_upvotes.size %>
    <% end %>
    <%= link_to dislike_link_path(@link), method: :put, class: 'unvoted-counter' do %>
      <%= fa_icon "arrow-down" %>
      <%= @link.get_downvotes.size %>
    <% end %>
  </div>
</div>

<div class="comments-block">
  <h3 class="title-sm"><%= @link.comments.length %> Comments</h3>

  <%= render partial: @link.comments %>

  <div class="add-comment">
    <% if user_signed_in? %>
      <h3 class="title-sm">Add comment</h3>

      <%= simple_form_for [@link, Comment.new] do |f| %>
        <%= f.text_area :body, rows: 14, cols: 80 %>
        <br>
        <%= f.submit 'Add comment', class: 'submit-btn' %>
      <% end %>

    <% else %>
      <h3 class="title-sm">
        If you want to leave a comment, please <%= link_to 'Sign in', new_user_session_path %>
      </h3>
    <% end %>
  </div>
</div>
